<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MetroProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlet.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/user_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_articles</servlet-name>
    <servlet-class>com.servlet.ArticlesAddingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_articles</servlet-name>
    <url-pattern>/Add_articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.servlet.RefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete_articles</servlet-name>
    <servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_articles</servlet-name>
    <url-pattern>/delete_articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Editoption</servlet-name>
    <servlet-class>com.servlet.EditPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editoption</servlet-name>
    <url-pattern>/editpanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>